{% extends "app.html" %}
    
{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-shrink navbar-fixed-top">
      <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">Comm. Protocol Services</div>
	</div>
	
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
          </ul>
	</div>
	<!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    {% endblock %}
    
    {% block content %}
    {% raw %}
    <section id="services">
      <div class="container" ng-controller="makeAssignmentController">
	<div class="row">
          <div class="col-lg-12">
	    <h2>{{ results.name }}</h2>
	    <!-- TEST -->
	    <div ng-if="results.kind == 'Test'">
	      <div class="form-group"
		   ng-repeat="question in results.data.question_list track by $index">
		<form>
		  <label>
		    {{ question.question }}
		    <div>
		      <radiogroup 
			 ng-repeat="choice in question.choices track by $index">
			<input type="radio"  
			       name="$parent.$index"
			       ng-model="$parent.question.result"
			       ng-value="$index+1">
			{{ choice }} <br />
		      </radiogroup>
		      <p>
			Has marcado la respuesta #{{ question.result }}
		      </p>
		    </div>
		  </label>
		</form>
	      </div>
	    </div>  
	    <!-- ACTIVIDAD -->
	    <div ng-if="results.kind == 'Actividad'">
	      <div class="form-group">
		<label>Actividad: {{ results.name }}</label>
		<p>{{ results.data.description }}</p>
	      </div>
	    </div>
	    
	    <!-- PREGUNTA -->
	    <div ng-if="results.kind == 'Pregunta'">
	      <div class="form-group">
		<label>Pregunta: {{ results.data.question }}</label>
		<input
		   type="text"
		   ng-model="results.result"
		   class="form-control">
	      </div>
	    </div>
	  </div>
	  <button class="btn btn-success"
		  ng-click="sendAssignment()">
	    Finalizar
	  </button>

	</div>
      </div>
    </section>
    {% endraw %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
    
