{% extends "app.html" %}
    
{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-shrink navbar-fixed-top">
      <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">Comm. Protocol Services</div>
	</div>
	
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li>
              <a href="{{ logout_url }}">Salir</a>
            </li>	    
          </ul>

	</div>
	<!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    {% endblock %}
    
    {% block content %}
    {% raw %}
    <section id="services">
      <div class="container" ng-controller="reviseAssignmentController">
	<div class="row">
          <div class="col-lg-12">
	    <h2>{{ assignment.results.name }}</h2>
	    <!-- TEST -->
	    <div ng-if="assignment.results.kind == 'Test'">
	      <ol>
		<li ng-repeat="question in assignment.results.data.question_list track by $index">{{ question.question }}: {{question.right}} /
		  {{question.result}}
		  <span ng-if="question.right == question.result">
		    <i style="color:green;"
		       class="fa fa-check"></i>
		  </span>
		  <span ng-if="question.right != question.result">
		    <i style="color:red;"
		       class="fa fa-times"></i>
		  </span>
		</li>

	      </ol>
	    </div>  
	    <!-- ACTIVIDAD -->
	    <div ng-if="assignment.results.kind == 'Actividad'">
	      <p>Actividad: {{ assignment.results.name }}</p>
	      <p>{{ assignment.results.data.description }}</p>
	    </div>
	    
	    <!-- PREGUNTA -->
	    <div ng-if="assignment.results.kind == 'Pregunta'">
	      <p>Pregunta: {{ assignment.results.data.question }}</p>
	      <p>Respuesta: {{ assignment.results.result }}</p>
	      <p>Correcta: {{ assignment.results.data.answer }}</p>
	    </div>
	  </div>
	  <button class="btn btn-success"
		  ng-click="done()">
	    Aceptar
	  </button>

	</div>
      </div>
    </section>
    {% endraw %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
    
