{% extends "app.html" %}
    
{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-shrink navbar-fixed-top">
      <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/activity" class="navbar-brand">Comm. Protocol Services</a>
	</div>
	
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li>
	      <a href="/logout">Salir</a>
            </li>
          </ul>
	</div>
	<!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    {% endblock %}
    
    {% block content %}
    {% raw %}
    <section id="services">
      <div class="container" ng-controller="taskController">
	<div class="row">
          <div class="col-lg-12">
	    <h2>Nuevo ejercicio</h2>
	    <form>
	      <div class="form-group">
		<select ng-model="subscription"
			ng-options="s.id as s.name for s in subscriptions"
			class="form-control">
		  <option value="">Seleccione el curso.</option>
		</select>
		<select ng-model="type"
			ng-options="task for task in available_tasks"
			class="form-control">
		  <option value="">Seleccione tipo de ejercicio</option>
		</select>
	      </div>
	    </form>

	    <!-- TEST -->
	    <div ng-if="type == 'Test'">
	      <h3>Crear test</h3>
	      <form>
		<div class="form-group">
		  <label>Nombre (menos de 500 caracteres)</label>
		  <input type="text"
			 ng-model="test.name"
			 class="form-control">
		</div>
		<div style="margin-left:20px;" class="well"
		     ng-repeat="item in test.question_list track by $index">
		  <div class="form-group">
		    <label>Enunciado (Menos de 500 caracteres)</label>
		    <input type="text"
			   ng-model="item.question"
			   class="form-control">
		  </div>
		  <div class="form-group"
		       ng-repeat="choice in item.choices track by $index">
		    <label>{{ $index+1 + '.-' }}</label>
		    <input type="text"
			   ng-model="$parent.item.choices[$index]"
			   class="form-control">
		  </div>
		  <button class="btn btn-info"
			  ng-click="add_choice_to_question(item.choices)">
		    Añadir opción
		  </button>
		  <button class="btn bgn-danger"
			  ng-click="remove_choice_from_question(item.choices)">
		    Quitar opción
		  </button>
		  <div class="form-group">
		    <label>Correcto</label>
		    <input type="number"
			   ng-model="item.right"
			   class="form-control">
		  </div>
		</div>
		<div style="margin-left:20px;">
		  <button class="btn btn-info"
			  ng-click="add_question_to_test(test.question_list)">
		    Añadir pregunta
		  </button>
		</div>
	      </form>
	      <div style="margin-top:20px;">
		<button class="btn btn-success"
			ng-click="submit_test()">
		  Crear test.
		</button>
	      </div>
	    </div>  
	    <!-- ACTIVIDAD -->
	    <div ng-if="type == 'Actividad'">
	      <h3>Crear actividad</h3>
	      <form role="form">
		<div class="form-group">
		  <label for="name">Nombre</label>
		  <input type="text"
			 ng-model="activity.name"
			 class="form-control">
		</div>
		<div class="form-group">
		  <label for="name">Descripción</label>
		  <textarea 
		     rows="5" 
		     class="form-control"
		     ng-model="activity.description">
		    {{ activity.description }}
		  </textarea>
		</div>
		<button class="btn btn-success" ng-click="submit_activity()">
		  Crear Actividad
		</button>
	      </form>
	    </div>
	    
	    <!-- PREGUNTA -->
	    <div ng-if="type == 'Pregunta'">
	      <h3>Crear pregunta</h3>
	      <form role="form">
		<div class="form-group">
		  <label for="name">Nombre (menos de 500 caracteres)</label>
		  <input type="text"
			 ng-model="question.name"
			 class="form-control">
		</div>
		<div class="form-group">
		  <label for="name">Pregunta (menos de 500 caracteres)</label>
		  <input type="text"
			 ng-model="question.question" 
			 class="form-control">
		</div>
		<div class="form-group">
		  <label for="name">Respuesta (menos de 500 caracteres)</label>
		  <input type="text"
			 ng-model="question.answer"
			 class="form-control">
		</div>
		<button class="btn btn-success"
			ng-click="submit_question()">
		  Crear Pregunta
		</button>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </section>
    {% endraw %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
    
